/* Copyright (C) 2020-2021 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

* {
    background:                     #1E2128ff;
    background-alt:                 #23262Dff;
    foreground:                     #B5BCC9ff;
    border:               			#32353Cff;
    border-alt:               		#282B32ff;
    selected:               		#23262Dff;
    urgent:                         #E06B74ff;
}
