/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

/* Color-Scheme */

* {
    BG:    #FFFFFFff;
    BGA:   #CACACAff;
    FG:    #303030ff;
    BDR:   #EC407Aff;
    SEL:   #EC407Aff;
    UGT:   #EC407Aff;
	IMG:   #EC407Aff;
	ON:    #50A14Fff;
	OFF:   #E45649ff;
}
