/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

/* Color-Scheme */

* {
    BG:    #FFFFFFff;
    BGA:   #F5F5F5ff;
    FG:    #404040ff;
    BDR:   #5294E2ff;
    SEL:   #5294E2ff;
    UGT:   #EC7875ff;
	IMG:   #FDB5C0ff;
	ON:    #61C766ff;
	OFF:   #EC7875ff;
}
