/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

/* Color-Scheme */

* {
    BG:    #252A35ff;
    BGA:   #2F343Fff;
    FG:    #FFFFFFff;
    BDR:   #62AEEFff;
    SEL:   #62AEEFff;
    UGT:   #E06B74ff;
	IMG:   #E5C07Aff;
	ON:    #98C379ff;
	OFF:   #E06B74ff;
}
